html, body, * {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;  
  image-rendering: optimizeSpeed;
}

@-webkit-keyframes autofill {
    to {      
        background-image: url('../../assets/menu/textback.png');
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    -webkit-text-fill-color: #ffffff;
}

input:focus {
    outline:none;
}

body {
	background-image: url('../img/bg.png');
}

@font-face {
    font-family: 'Forte';
    src: url('../assets/fonts/FORTE.TTF');
}

#page {
	text-align:center;
	opacity:0.9;
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#header {
	width: 581px;
	height: 50px;
}

#game_elements {
	width: 100%;
	height: 100%;
  position: absolute;
}

#cvs {
	width: 100%;
	height: 100%;
	position: relative;
}

#border {
	position: absolute;
	width: 1024px;
	height: 768px;
	border: 1px solid black;
  background-image: url('../img/1024x768.png');
}

canvas {
	border: 1px solid black;
}

.headertext {
	font-family: 'Forte';
	font-size: 25px;
}

.subtext {
	color: #5f5a54;
	font-weight: bold;
	font-family: 'Arial';
}

.basicheader {
	background-image: url('../img/basicheader.png');
	width: 581px;
	height: 31px;
}

.gameinput {
	color: white;
	-webkit-text-stroke-width: 0.1px;
  	-webkit-text-stroke-color: black;
  	 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

@keyframes animatezoom{
  from {
    transform:scale(0)
  }
  to{
    transform:scale(1)
  }
}