<div id="charactercreation">
	<div id="createbox">
		<div id="customization">
			<div id="playerbox">
				<div id="playersprite"></div>
			</div>

			<div id="sliders">
				<div class="namebox small">
					<div class="label">
						<p class="boxtext">Hair</p>
					</div>

					<div class="arrowselector" id="hairselector">
						<div class="arrow left" data-id="hairnum"></div>
						<div id="hairnum" class="selectionbox boxtext">0</div>
						<div class="arrow right" data-id="hairnum"></div>
					</div>
				</div>

				<div class="namebox small">
					<div class="label">
						<p class="boxtext">Color</p>
					</div>

					<div class="arrowselector" id="colorselector">
						<div class="arrow left" data-id="colornum"></div>
						<div id="colornum" class="selectionbox boxtext">0</div>
						<div class="arrow right" data-id="colornum"></div>
					</div>
				</div>

				<div class="namebox small">
					<div class="label">
						<p class="boxtext">Skin</p>
					</div>

					<div class="arrowselector" id="skinselector">
						<div class="arrow left" data-id="skinnum"></div>
						<div id="skinnum" class="selectionbox boxtext">0</div>
						<div class="arrow right" data-id="skinnum"></div>
					</div>
				</div>
			</div>

			<div class="namebox" id="namecreate">
				<div class="label">
					<p class="boxtext">Name</p>
				</div>

				<input id="name" class="gameinput" autocomplete="off" maxlength="13" type="text"></input>
			</div>
		</div>

		<div id="classinfo">
			
		</div>

		<div id="inputs">
			<div class="ok_button clickable"></div>
			<div class="cancel_button clickable"></div>
		</div>
	</div>
</div>