<div id="characterselection">
	<div id="selectionbox">
		<div id="charactercontent">
			<div class="loginbox" id="0">
				<div class="characterbox"></div>

				<div class="create3d clickable" id="0"></div>
			</div>

			<div class="loginbox" id="1">
				<div class="characterbox"></div>

				<div class="create3d clickable" id="1"></div>
			</div>

			<div class="loginbox" id="2">
				<div class="characterbox"></div>

				<div class="create3d clickable" id="2"></div>
			</div>
		</div>
	</div>
</div>