<div id="chat">
	<div id="icons">
		<div id="all"></div>
		<div id="local"></div>
		<div id="global"></div>
		<div id="private"></div>
		<div id="system"></div>

		<div id="mute"></div>
	</div>

	<div id="chatarea">
		<div id="textarea">
			<div id="publicmsg">
				<p class="chattext">Andrew: test</p>
				<p class="chattext">Andrew: test</p>
			</div>
			<div id="globalmsg" style="display: none">

			</div>
		</div>
		<div id="inputbox">
			<input type="text" id="chatinput" spellcheck="false" autocomplete="none"></input>
		</div>
	</div>

	<div class="uiscrollbar">
		<div class="uiup"></div>
		<div class="uibar"></div>
		<div class="uiup"></div>
	</div>
</div>