<div id="home">
	<div id="news">
		<div id="logincontent">
			<div id="inputs">
				<div class="posttitle" style="margin-left: 10px; width: 190px; padding-top: 0px;">
					<p class="titletext" style="">username</p>
				</div>
				<br>
				<input type="text" id="username" class="textbox gameinput" autocomplete="new-password"></input>

				<div class="posttitle" style="margin-left: 10px; width: 190px; padding-top: 0px;">
					<p class="titletext" style="">password</p>
				</div>
				<br>
				<input type="password" id="password" class="textbox gameinput" autocomplete="new-password"></input><br>
			</div>
			
			<input type="button" id="loginbutton"></input>
		</div>
		<div id="newsheader">
			<div id="text">
				<p class="titletext" style="margin-top: -3px; margin-left: 10px; color: white; font-size: 30px">Information</p>
			</div>
			<div id="pin"></div>
		</div>

		<div id="newscontent">
			<div class="posttitle" id="1">
				<p class="titletext">New Aeven v1.0</p>
			</div>

			<div class="postcontent" id="1">
				<p class="subtext newstext">
					Welcome to New Aeven! We are an in development MMORPG hoping to emulate the feel of old-school MMOs from the early 2000s. Join our discord server to stay up-to-date with new screenshots and snippets from the team!
				</p>
			</div>
		</div>
	</div>
</div>