<div id="home">
	<div id="news">
		<div id="logincontent">
			<div id="inputs">
				<div class="posttitle" style="margin-left: 10px; width: 190px; padding-top: 0px;">
					<p class="titletext" style="font-weight: bold;">Username:</p>
				</div>
				<br>
				<input type="text" id="username" class="textbox" autocomplete="off"></input>

				<div class="posttitle" style="margin-left: 10px; width: 190px; padding-top: 0px;">
					<p class="titletext" style="font-weight: bold;">Password:</p>
				</div>
				<br>
				<input type="password" id="password" class="textbox" autocomplete="off"></input><br>
			</div>
			
			<input type="button" id="loginbutton"></input>
		</div>
		<div id="newsheader">
			<div id="text">
				<p class="headertext" style="margin-left: 15px; color: white;">Information</p>
			</div>
			<div id="pin"></div>
		</div>

		<div id="newscontent">
			<div class="posttitle" id="1">
				<p class="titletext">New Aeven v1.0</p>
			</div>

			<div class="postcontent" id="1">
				<p class="subtext" style="color: black;">v 1.0 beta has been pushed back until further notice. please be patient!  <a href="#">read more..</a></p>
			</div>
			<div class="posttitle" id="2">
				<p class="titletext">Welcome back!</p>
			</div>

			<div class="postcontent" id="2">
				<p class="subtext" style="color: black;">new updates to our website and engine! <a href="#">read more..</a></p>
			</div>
		</div>
	</div>
</div>