<div id="home">
	<div id="news">
		<div id="logincontent">
			<div id="inputs">
				<form id="loginform"></form>

				<div class="posttitle" style="margin-left: 10px; width: 190px; padding-top: 0px;">
					<p class="titletext" style="">username</p>
				</div>

				<input type="text" id="username" form="loginform" class="textbox gameinput" autocomplete="new-password"></input>

				<div class="posttitle" style="margin-left: 10px; width: 190px; padding-top: 0px;">
					<p class="titletext" style="">password</p>
				</div>

				<input type="password" id="password" form="loginform"class="textbox gameinput" autocomplete="new-password"></input>
				<input type="button" form="loginform" id="loginbutton" class="clickable"></input>
			</div>
		
		</div>

		<div id="newsheader">
			<div id="text">
				<p class="titletext" style="margin-top: -3px; margin-left: 10px; color: white; font-size: 30px">Information</p>
			</div>
			<div id="pin"></div>
		</div>

		<div id="newscontent">
			<div class="posttitle" id="1">
				<p class="titletext">New Aeven v1.0</p>
			</div>

			<div class="postcontent" id="1" style="text-align: center">
				<p class="subtext newstext" style="margin-bottom: 50px">
					Welcome to New Aeven! Account registration has been enabled, feel free to create an account using the button below.
				</p>

				<button id="createbutton" class="clickable"></button>
			</div>
		</div>
	</div>
</div>