<div id="registration">
	<div id="registrationbox">
		<div id="textboxes">
			<input id="regusername" type="text" autocomplete="none" class="registrationtextbox gameinput"></input>
			<input id="regpassword" type="password"autocomplete="none" class="registrationtextbox gameinput"></input>
			<input id="regpasswordconfirm" type="password" autocomplete="none" class="registrationtextbox gameinput"></input>
			<input id="regemail" type="text" autocomplete="new-password" class="registrationtextbox gameinput"></input>
		</div>

		<div id="inputs">
			<div id="okbutton" class="clickable"></div>
			<div id="cancelbutton" class="clickable"></div>
		</div>
	</div>
</div>