<div id="register">
	<div id="registerbox">
		<div id="textboxes">
			<input id="accountname" type="text" autocomplete="new-password" class="registertextbox gameinput"></input>
			<input id="password" type="password" autocomplete="new-password" class="registertextbox gameinput"></input>
			<input id="passwordconfirm" type="password" autocomplete="new-password" class="registertextbox gameinput"></input>
			<input id="email" type="text" autocomplete="new-password" class="registertextbox gameinput"></input>
		</div>

		<div id="inputs">
			<div id="ok_button"></div>
			<div id="cancel_button"></div>
		</div>
	</div>
</div>