<div id="settings">
	<div id="header">
		<div id="close" class="closebutton"></div>
	</div>

	<div id="content">
		<div id="display">
			<div id="optionheader">
				<p id="displayheader" class="titletext">Display</p>
			</div>

			<p id="resolution" class="optiontext">Resolution</p>

			<span class="custom-dropdown" id="resolutiondropdown">
			    <select>
			        <option>640x480</option>
			        <option>800x600</option>  
			        <option>1028x764</option>
			        <option>1920x1080</option>
			    </select>
			</span>

			<p id="interface" class="optiontext">Interface</p>

			<span class="custom-dropdown" id="interfacedropdown">
			    <select>
			        <option>Minimal</option>
			        <option>Classic</option>
			    </select>
			</span>

			<p id="balloons" class="optiontext">Chat Balloons</p>
			<input type="checkbox" class="customcheck" id="balloonsbox"></input>

			<p id="lighting" class="optiontext">Disable Lighting</p>
			<input type="checkbox" class="customcheck" id="lightingbox"></input>
		</div>

	</div>
</div>	