<div id="uicontainer">
	<div id="container">
		<div id="hotkeys">
			<div id="section1">

			</div>

			<div id="section2">

			</div>

			<div id="section3">

			</div>

			<div id="section4">

			</div>

			<div id="section5">

			</div>

			<div id="section6">

			</div>
		</div>

		<div id="buttons">
			<div id="inventory"></div>
			<div id="map"></div>
			<div id="spells"></div>
			<div id="chat"></div>
			<div id="stats"></div>
			<div id="online"></div>
			<div id="settings"></div>
			<div id="help"></div>
		</div>

		<div id="chatbox">
			<div id="icons">
				<div id="all"></div>
				<div id="local"></div>
				<div id="global"></div>
				<div id="private"></div>
				<div id="system"></div>

				<div id="mute"></div>
			</div>

			<div id="chatarea">
				<div id="textarea"></div>
				<div id="inputbox">
					<input type="text" id="chatinput" spellcheck="false" autocomplete="none"></input>
				</div>
			</div>

			<div class="uiscrollbar">
				<div class="uiup"></div>
				<div class="uibar"></div>
				<div class="uiup"></div>
			</div>
		</div>

		<div id="systembox">
			<div id="systemarea">
				<div id="textarea">
					
				</div>

				<div class="uiscrollbar">
					<div class="uiup"></div>
					<div class="uibar"></div>
					<div class="uiup"></div>
				</div>
			</div>
		</div>

		<div id="buttons2">

		</div>

		<div id="experience">
			<div id="full"></div>
			<div id="hollow"></div>
			<div id="empty"></div>
		</div>
	</div>
</div>