#chat {
	width: 443px;
	height: 139px;
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	opacity: 1.0;
	display: flex;
  	align-items: flex-end;
	background-image: url('../../assets/game/chat.png');
	margin-bottom: 40px;
}

#chat #icons {
	width: 31px;
	height: 141px;
	margin-left: 5px;
	float: left;
}

#chat #chatarea {
	width: 420px;
	height: 130px;
	float: left;
	margin-left: 15px;

}

#chat #chatarea #textarea {
	width: 410px;
	height: 97px;
	text-align: left;
	overflow-y: scroll;
}


#chat #chatarea #inputbox {
	width: 403px;
	height: 29px;
}

#chat #chatarea #chatinput {
	width: 385px;
	height: 14px;
	border: none;
	margin-left: 2px;
	background: none;
	color: #FAF2E3;
}

#chat #chatarea #chatinput::selection {
	background: #D2B48C;
}

.chattext {
	font-size: 12px;
	font-family: 'Arial';
	color: #fffaf0;
	float: left;
	cursor: default;
	max-width: 300px;
}

.username {
	font-size: 12px;
	font-family: 'Arial';
	color: #FFFFFF;
	font-weight: bold;
	float: left;
	cursor: default;
	text-shadow:
		1px 2px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.username:hover {
	text-shadow: 0 0 5px #FAF2E3;
}

.indicator {
	width: 13px;
	height: 13px;
	background-image: url('../../assets/game/icon/indicators.png');
	float: left;
	margin-right: 4px;
}

.chatmsg {
	display: block;
}

::-webkit-scrollbar {
	width: 4px;
}
 
::-webkit-scrollbar-thumb {
	background: #000; 
}