#hotkeys {
	width: 100%;
	height: 100%;
	display: flex;
  	align-items: flex-end;
	animation: animatezoom 0.4s;
	justify-content: center;
	min-width: 790px;
}

#functionkeys {
	width: 459px;
	height: 38px;
	background-image: url('../../assets/game/functionkeys.png');
	display: inline-block;
	margin-right: 20px;
}

#mainbuttons #buttoncontainer {
	width: 300px;
	height: 39px;
	background-image: url('../../assets/game/mainbuttons.png');
	display: inline-block;
}
